th {
    padding: 10px;
    background-color: black; 
    text-transform: uppercase;
    }
tr th:first-child {
    border-radius: 10px 0 0 0;
    }
tr th:last-child {
     border-radius: 0 10px 0 0 ;
    } 
table {
    color: white;
    width: 100%;
    /* overflow: hidden; */
    /* background-color: black; 
    border-top-right-radius: 10px;  
    border-top-left-radius: 10px;  */
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

th, td {
   width: 12%;
}
td {
    vertical-align: top;
    padding: 10px;
    }
.calendar {
    height: 150px;
    background-color: rgb(87, 83, 83);
    }

body {
    background-color: #858585;
}

.single-day {
    border-radius: 10px;
}
.event-start {
    
    margin-right: -20px;
}
.event {
        text-align: center;
       display: block;
       margin-top: 6px;
       margin-bottom: 6px; 
       height: 18px;
       padding-top: 1px;
       padding-bottom: 1px;
       border-radius: 10px;
       color: #4c4c4c;
    }
.invisible {
    visibility: hidden;
}

.event-middle {
    margin-left: -20px;
    margin-right: -20px;
    color: #4c4c4c;
}

.event-end {
    margin-left: -50px;
    text-align: left;
}

.number {
    display: block;
    margin-bottom: 10px;
}
/* background-color settings */
.backRed {
    background-color: #ff9999;
}
.backBlue {
    background-color: #85d6ff;
}
.backGreen {
    background-color: rgb(117, 255, 117);
}
.backPurple {
    background-color: rgb(191, 102, 255);
}