body {
    margin: 0;
    padding: 0;

}

.container {
    display: flex;
}

aside {
    flex-basis: 20%;
    width: 20%;
    min-width: 180px;
    background-color: #33383e;
    height: 100vh;
    position: fixed;
}

main {
    background-color: gray;
    height: 1000px;
    flex-grow: 1;
    margin-left: 20%;
}



.asside__header {
    background-image: url('images/ferry-500-500.jpg') ;
    background-position: center  center;
    background-color: gray;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.asside__header p {
    color: whitesmoke;
    font-weight: bold;
    font-size: 18px;
    background-color: black;
}

.aside__header img {
    border-radius: 50%;
}

.avatar {
    width: 50%;
    border-radius: 50%;
    object-fit: cover;
}

.asside__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.asside__list li {
    padding: 20px;
    border-bottom: rgba(255,255, 255,0.05) 1px solid;
    transition: 0.2s ease;
}

.asside__list li:hover {
    background-color: #2f89fc;
}

.asside__list li:hover  a{
    color: white;
}

.asside__list li a {
    text-decoration: none;
    color: #aeafb3;
    display: flex;
}

.asside__list li a i {
    padding-right: 20px;
}

.asside__list li a.active {
    color: white;
}

@media screen and (max-width: 500px) {
    .container {
        flex-direction: column;
        flex-wrap: wrap;
    }

    aside {
        position: relative;
        width: 100%;
        height: auto;
    }

    .asside__header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-top: 0px;
    }

    .asside__header p {
        font-size: 30px;
        margin: 0;
        padding: 0 10px;
        
    }


    .asside__list li {
        padding: 10px;
        border-bottom: rgba(255,255, 255,0.05) 1px solid;
        transition: 0.2s ease;
    }

    .avatar {
        width: 20%;
        border-radius: 0;
        object-fit: cover;
    }

    main {
        width: 100%;
        margin: 0;
    }

}
