div {
    width: 420px;
    padding: 50px;
    margin: 50px 50px;
    background-color: #ffffe5;
}
p {
    color: salmon;
    background-color: #FFB7B2;
    width: 405px;
    border-left: solid 5px #FF9AA2;
    border-bottom: solid 5px #FF9AA2;
    font-size: small;
    padding: 5px;
    margin: 20px 0px 0px 0px;
}
img {
    border: double 10px #FF9AA2;
}

